.footer {
    background-color: var(--black-color);
    color: var(--white-color-dark);
    padding: 2.5rem 0;
    box-shadow: var(--shadow-soft);
}

.footer__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__author {
    color: var(--white-color-dark);
    font-family: var(--title-font);
}

.footer__author:hover {
    color: var(--white-color);
}

.footer__link {
    color: var(--white-color-dark);
}

.footer__link:hover {
    color: var(--white-color);
}

.footer__link i {
    font-size: 1.5rem;
    padding: 0 1rem;
}